{% load staticfiles %}
<!DOCTYPE html>
<head>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen" />
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "highcharts.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% load chartit %}
    {{ weatherchart|load_charts:"graph" }}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Meteo @ UrLab</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url "weather_today" %}">Today</a></li>
              <li><a href="{% url "weather_thisweek" %}">This week</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
    	<div id="graph" class="hero-unit"/>
    </div>
    <div class="row fluid">
      <div class="span3">
        <h3>Light</h3>
        <dl>
          <dt>Inside</dt><dd>{{light.inside}} %</dd>
          <dt>Outside</dt><dd>{{light.outside}} %</dd>
        </dl>
      </div>
      <div class="span3">
        <h3>Temperature</h3>
        <dl>
          <dt>Ambiant</dt><dd>{{temp.ambiant}} &deg;C</dd>
          <dt>Radiator</dt><dd>{{temp.radiator}} &deg;C</dd>
        </dl>
      </div>
    </div>
</body>